
$primaryColor : rgb(86, 101, 240);
$primaryColorLight : lighten($primaryColor, 10%);
$primaryColorDark : darken($primaryColor, 30%);
$secondaryColor: darkgray;
$backgroundColor: rgb(248, 248, 248);
$borderColor : rgba(65, 63, 63, 0.301);