#top-left {
    border-right: solid 2px white;
}
.tab {
    border-left: solid 2px $borderColor;
    border-bottom: solid 2px $borderColor;
}
.outer-wrapper,
.members-container,
.activity-container{
    border-bottom: solid 2px $borderColor;
}

.social-image {
    border-radius: 50%;
}

button,
select,
input,
textarea,
.social-platform {
    border-radius: 5px;
    border: solid 1px $borderColor;
}