* {
    box-sizing: border-box;
}

.full-width {
    width: 100%;
}

.outer-wrapper,
.inner-wrapper {
    height: 100%;
    padding-top: 10px;
}

.inner-wrapper,
.alert {
    width: 90%;
    margin: auto;
}
.invisible {
    display: none;
}
h1 {
    margin-left: 1rem;
}
#bell {
    margin-right: 2rem;
}
.bell-list-container,
.search-results-container {
    position: relative;
}
#bell-list {
    position: absolute;
    right: -9rem;
    z-index: 1;
    min-width: 300px;
    li {
        padding: 1rem;
        border-top: solid 1px $borderColor;
        background-color: $backgroundColor;
        color: $primaryColor;
    }
}
#search-results {
    position: absolute;
    top: -1.5rem;
    z-index: 1;
    min-width: 300px;
    li {
        padding: 1rem;
        border-top: solid 1px $borderColor;
        background-color: $backgroundColor;
        color: $primaryColor;
    }
}
.alert-banner {
    margin: 1rem;
}
.alert-banner:first-child {
    padding-left: 1rem;
}
.alert-banner-close {
    display: inline-block;
    padding: .5rem;
}
.highlight{
    background-color: $backgroundColor;
}
.traffic .outer-wrapper {
    margin-bottom: 15px;
}
#top,
#top-left,
#top-right,
nav {
    padding: 10px 0;
}

#top-left,
#top-right {
    width: 50%;
}

.headline {
    padding: 10px 5vw;
}

.mobile h3,
.daily h3 {
    margin-bottom: 20px;
}
#mobile-chart,
#daily-chart {
    margin-bottom: 40px;
}
.social-svg {
    margin: auto;
}
.social-image {
    width: 80px;
    padding: 15px 20px;
}
.members-container,
.activity-container {
    padding: 15px 0;
}
.social-platform {
    margin: 10px 5px;
    padding: 10px 10px;
}
.social-text {
    padding-left: 1rem;
    & p {
        margin: 0;
    }
}

.gt {
    display: none;
}

.message h3
.settings-top h3 {
    margin: 10px 0;
}
#userField,
#messageField,
#send {
margin-top: 5px;
}

form button,
.form-field,
.settings-button button {
    padding: 10px;
}

form {
    input,
    textarea,
    button {
        margin-bottom: 10px;
    }
    input {
        padding: 10px 5px;
    }
    textarea {
        height: 150px;
        padding: 5px 5px;
    }
}

.switch-light {
    margin-top: 20px;

    strong {
        width: calc(100vw - 85px);
    }
}

.form-field {
    margin: 10px 0;
    margin-top: 40px;
}

.settings-button {
    button {
        margin-bottom: 20px;
    }
    .button-primary {
        margin-right: 5px;
    }
    .button-disabled {
        margin-left: 5px;
    }
}

// Borders

#top-left {
    border-right: solid 2px white;
}
.tab {
    border-left: solid 2px $borderColor;
    border-bottom: solid 2px $borderColor;
}
.outer-wrapper,
.members-container,
.activity-container{
    border-bottom: solid 2px $borderColor;
}
.highlight {
    border: solid 2px $borderColor;
    border-radius: 50px;
}
.social-image {
    border-radius: 50%;
}

button,
select,
input,
textarea,
.alert-banner,
.social-platform {
    border-radius: 5px;
    border: solid 1px $borderColor;
}

.members,
.message {
    border-right: solid 2px $borderColor;
}

.members-container:last-child,
.activity-container:last-child {
            border-bottom: none;
}

.settings {
    border-top: solid 2px $borderColor;
}