#top {
    background-color: $primaryColorLight;
    color: white;
}
nav {
    background-color: $primaryColorDark;
    opacity: .7;
}
.alert-banner {
    background-color: $primaryColor;
    color: white;
}
.highlight {
    background-color: $highlightColorDark;
    color: white;
}
.tab,
.social-platform,
.form-field,
.form-area {
    background-color: $backgroundColor;
}
.social-image,
.button-primary {
    background-color: $primaryColorLight;
}
#cancel {
    background-color: $secondaryColor;
}
.social-text p:first-child {
    color: $primaryColorLight;
}
.social-text p:nth-child(2) {
    color: $secondaryColor;
}
button {
    color: white;
    transition: background-color .1s ease-in-out;
}
.button-primary:active {
    background-color: $primaryColorDark;
}
#cancel:active {
    background-color: $secondaryColorDark;
}

.members-text a {
    color: $primaryColorLight;
}
