body {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
    font-size: 15px;
    text-transform: capitalize;
}

.switch-light {
    font-size: 15px;
}
.social-text p:first-child {
    font-size: 20px;
}
.social-text p:nth-child(2) {
    font-size: 40px;
}